.odd {
    background-color: rgb(60, 106, 255);
}

.even {
    background-color: rgb(50, 76, 190);
}

.table {
    margin-top: 10px;
    border-spacing: 0;
    border-collapse: none;
}

thead {
    background-color: rgb(83, 96, 153);
}

caption {
    background-color: rgb(83, 96, 153);
    height: 50px;

}

caption > p {
    font-weight: bold;
    text-transform: uppercase;
}

td {
    padding: 10px;
    font-weight: bold;
}

.table-description {
    display: flex;
    align-items: center;
    justify-content: center;
}