:root {
    --compass-top-color: #f2f6f5;
    --compass-bottom-color: #cbd5d6;
}

ul {
    list-style-type: none;
}

.error-msg {
    
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.App-weather {
    background-color: rgba(15, 31, 104, .6);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.App-weather > img {
    width: 100px;

}

.temperature {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.compass {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .85);
    position: relative;
    color: #3247FF;
    /* text-shadow: 1px 1px 1px white; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(15, 31, 104, .6);
}

.compass > .direction {
height: 100%;
width: 100%;
display: flex;
justify-content: center;
background: #7db9e8;
background: -moz-linear-gradient(top, #7db9e8 0%, #3247FF 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7db9e8), color-stop(100%, #3247FF));
background: -webkit-linear-gradient(top, #7db9e8 0%, #3247FF 100%);
background: -o-linear-gradient(top, #7db9e8 0%, #3247FF 100%);
border-radius: 100%;
}
.direction > p {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    display: block;
    font-size: 28px;
    font-weight: bold;
}

.direction > p > span {
    display: block;
    line-height: normal;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
}

.arrow {
width: 100%;
height: 100%;
display: block;
position: absolute;
top: 0;
}
.arrow:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid red;
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -5px;
    z-index: 99;
}

/* SWITCHER */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 5px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
.switcher-container {
      display: flex;
      flex-direction: row;
      align-items: center;
  }